@keyframes fadeInAnimation {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.event-details-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0; /* Start with opacity 0 for initial fade-in */
  animation: fadeInAnimation 0.5s ease-in-out forwards;
}

.event-details-card {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f0f0f0;
  color: #333;
}

.event-details-card:hover {
  transform: scale(1.02);
}

.event-details-image {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 16px;
  min-height: 300px;
}

.large-text {
  font-size: 1.5rem;
}

.extra-large-text {
  font-size: 2rem;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.transition {
  transition: all 0.3s ease-in-out;
}
