/* styles/Footer.css */
.footer {
  background-color: #203947;
  color: white;
  padding: 10px 20px 0 20px; /* Adjust padding as needed */
  font-family: Arial, sans-serif; /* Example: Change font family if needed */
}


  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .footer-section {
    flex: 1;
  }
  
  .footer-logo {
    width: 190px; 
    height: auto;
  }
  
  .links {
    color: white;
  }
  
  .links h3 {
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .links ul {
    list-style: none;
    padding: 0;
  }
  
  .links li {
    margin-bottom: 10px;
  }
  
  .links a {
    color: white;
    text-decoration: none;
    font-size: 14px;
  }
  
  .links a:hover {
    text-decoration: underline;
  }
  
  .social-media {
    color: white;
  }
  
  .social-media h3 {
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .social-icons {
    display: flex;
  }
  
  .social-icons a {
    color: white;
    margin-right: 20px;
    font-size: 24px;
    transition: color 0.3s ease;
  }
  
  .social-icons a:hover {
    color: #55acee; /* Change color on hover */
  }
  