.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  height: 40px;
}

.navbar-title {
  flex-grow: 1;
  display: none;
}

.navbar-links {
  display: flex;
  gap: 20px;
}

.navbar-auth {
  display: flex;
  gap: 10px;
}

@media (min-width: 600px) {
  .navbar-title {
    display: block;
  }
}